<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Obesity and Poverty Rate</title>

   <!-- Leaflet CSS --> 
  <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css"> -->

  <!-- Our CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
<!-- </head> -->

<!-- <body> -->

    <!-- The div that holds our map -->
    <!-- <div id="container"> -->
  
    <!-- <h1>State:</h1>
    <select id="selDataset">
      <option value="states">State</option> -->
      <!-- <option value="emoji_id">Emoji ID</option> -->
      <!-- <option value="emoji_name">Emoji Name</option> -->
    <!-- </select> -->

  
    <!-- </div> -->
    <!-- D3 -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script> -->
  
    <!-- Leaflet JavaScript -->
    <!-- <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script> -->
  
    <!-- API Key -->
    <!-- <script type="text/javascript" src="js/config.js"></script> -->
    <!-- Our JavaScript -->
    <!-- <script type="text/javascript" src="js/logic.js"></script> -->
  <!-- </body> -->
  
  <!-- </html> -->
   

   <!-- <html lang="en-US" xmlns="http://www.w3.org/1999/xhtml"> -->
   <!-- <head profile="http://gmpg.org/xfn/11"> -->
      <!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
 
      <link rel="stylesheet" type="text/css" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
      
      <!-- <script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>
      <script type='text/javascript' src='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js'></script>
   </head>
 
   <body>
      <h1>Obesity and Poverty Rate by State</h1>
      
      <div id="map" style="height: 440px; border: 1px solid #AAA;"></div>
 
      <script type='text/javascript' src='../data/markers.json'></script>
      <script type='text/javascript' src='../js/logic_new.js'></script>
   </body>
</html>